body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
svg{
  background-color: lightyellow;
}
.bar:hover{
  fill: #c1e7ff
}
#title{
    font-size: 30px;
}
#tooltip{
    font-size: 28px;
}
